beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
et-xmlfile==1.0.1
fake-useragent==0.1.11
idna==2.8
jdcal==1.4.1
lxml==4.3.1
openpyxl==2.5.14
PySocks==1.7.1
requests==2.21.0
selenium==3.141.0
socks==0
soupsieve==1.9.6
urllib3==1.24.3
